body {
    margin: 0;
}

.container {
    width: 450px;
    max-width: 100%;
}

.container__inner {
    padding: 150px 30px 30px 30px;
}

.content {

}

.content__image {
    width: 225px;
    height: 225px;
    position: absolute;
    top: 0;
    right: 0;
}

.content__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
}


.content__title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 80px;
    margin: 0;
}


