.footer {
    animation: showFooter 1.6s forwards;
}

.footer__horizontal-rule {
    border-color: var(--secondary);
    border-style: double;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer__desc {
    font-size: 14px;
    font-style: italic;
}