.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.header__title {
    position: absolute;
    font-family: 'Space Grotesk';
    font-size: 100px;
    font-weight: 500;
    animation: showContent 1.2s forwards;
    left: 30px;
    bottom: 20px;
    z-index: 1000;
}

.header__gradient {
    border-radius: 60px;
    background: linear-gradient(180deg, #D9CEF3 0%, #F5B7C2 100%);
    width: 230px;
    height: 350px;
    animation: showContent 1.2s forwards;
}

