@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff;
        --primary: #000;
        --secondary: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --primary: #fff;
        --invert: invert();
        --secondary: #fff;
    }
}