@media (prefers-color-scheme: light) {
    .page__body {
        --bg-color: #fff;
        --logo-color: #000;

        --bar-color: #000;
        --bar-border-color: none;
        --text-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    .page__body {
        --bg-color: #000;
        --logo-color: #fff;

        --bar-color: #000;
        --bar-border-color: #fff;
        --text-color: #fff;

    }
}
