@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff;
        --bg-secondary: #F6F6F6;
        --primary: #2E2C31;
    }

    .header__gradient {
        background: linear-gradient(180deg, #D9CEF3 0%, #F5B7C2 100%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --bg-secondary: #0D0D0D;
        --primary: #D1D3CE;
    }

    .header__gradient {
        background: linear-gradient(180deg, #212130 0%, #263250 100%);
    }

    .logo__image {
        filter: invert();
    }
}